{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'monitor:plant' 1 %}">Don't Rust</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTop" aria-controls="navbarTop" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-md-center" id="navbarTop">
                <ul class="navbar-nav nav-pills mx-md-3">
                    <li class="nav-item text-nowrap">
                        <a class="nav-link {% if plant == 1 %}active{% endif %}" href="{% url 'monitor:plant' 1 %}">Plant1</a>
                    </li>
                    <li class="nav-item text-nowrap">
                        <a class="nav-link {% if plant == 2 %}active{% endif %}" href="{% url 'monitor:plant' 2 %}">Plant2</a>
                    </li>
                </ul>
                <ul class="navbar-nav nav-pills mx-md-3">
                    <li class="nav-item text-nowrap">
                        <a class="nav-link {% if plant == 0 %}disabled{% endif %}{% if loc == 1 %}active{% endif %}" href="{% url 'monitor:loc' plant 1 %}">LOC1</a>
                    </li>
                    <li class="nav-item text-nowrap">
                        <a class="nav-link {% if plant == 0 %}disabled{% endif %}{% if loc == 2 %}active{% endif %}" href="{% url 'monitor:loc' plant 2 %}">LOC2</a>
                    </li>
                    <li class="nav-item text-nowrap">
                        <a class="nav-link {% if plant == 0 %}disabled{% endif %}{% if loc == 3 %}active{% endif %}" href="{% url 'monitor:loc' plant 3 %}">LOC3</a>
                    </li>
                </ul>
                <form class="navbar-nav ml-auto" action="{% url 'accounts:logout' %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-dark" type="submit">Sign out</button>
                </form>
            </div>

        </div>
    </nav>

    {% block plant %}

    {% endblock %}


    <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-messaging.js"></script>

    <script>
        // Your web app's Firebase configuration
        const firebaseConfig = {
            apiKey: "AIzaSyD6U2mC234IYhqRzwbaZWY_da_GMXLeiUc",
            authDomain: "django-fcm-test-5b82c.firebaseapp.com",
            databaseURL: "https://django-fcm-test-5b82c.firebaseio.com",
            projectId: "django-fcm-test-5b82c",
            storageBucket: "django-fcm-test-5b82c.appspot.com",
            messagingSenderId: "405299081661",
            appId: "1:405299081661:web:70371989391aa8249de2d4",
            measurementId: "G-8PQD6CE540"
        };

        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        navigator.serviceWorker.register("{% static 'firebase-messaging-sw.js' %}")
            .then((registration) => {
                const messaging = firebase.messaging();
                messaging.useServiceWorker(registration);
                messaging.getToken().then((currentToken) => {
                    if (currentToken) {
                        sendTokenToServer(currentToken)
                    } else {
                        // Show permission request.
                        console.log('No Instance ID token available. Request permission to generate one.');

                    }
                }).catch((err) => {
                    console.log('An error occurred while retrieving token. ', err);
                });
            })

        function sendTokenToServer(currentToken) {
            fetch('http://localhost:8000/devices/', {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    'registration_id': currentToken,
                    'type': 'web',
                }),
                credentials: "include",
            }).then(function(response) {
                console.log(response);
            })
        }
    </script>
{% endblock body %}
