{% extends 'base.html' %}

{% block body %}

    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Don't Rust</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTop" aria-controls="navbarTop" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-md-center" id="navbarTop">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item text-nowrap">
                        <a class="nav-link" href="#">Plant1</a>
                    </li>
                    <li class="nav-item text-nowrap">
                        <a class="nav-link" href="#">Plant2</a>
                    </li>

                </ul>
            </div>
            <form action="{% url 'accounts:logout' %}" method="POST">
                {% csrf_token %}
                <button class="btn btn-dark" type="submit">Sign out</button>
            </form>
        </div>
    </nav>

{% endblock body %}